.row
{
	margin-left: 0px;
	margin-right: 0px;
}

.col
{
	padding-left: 0px;
	padding-right: 0px;
}

.container
{
	width: 100%;
	max-width: 100%;
	padding: 0px;
}

:root
{	--dark-blue-1:#34495e;
	--dark-blue-2:#465c73;
	--dark-blue-3:#41576f;
	--green-1:#27ae60;
	--gray-1:#333;
	--gray-2:#666;
	--gray-3:#999;
	--gray-4:#AAA;
	--gray-5:#DDD;
	--gray-6:#e9e9e9;
	--gray-7:#f9f9f9;
	--snow:#fafafa;
	--background-color:#fafafa;
	--sidebar-bg-color:var(--dark-blue-1);
	--sidebar-item-active-color:var(--dark-blue-2);
	--sidebar-item-hover-color:var(--dark-blue-3);
	--sidebar-width:200px;
}

html, body, #root, #main {
  height: 100%;
  max-height: 100%;
}

img
{
	max-width: 100%;
}

.form-control:focus
{
	box-shadow: none;
	outline: none;
}

/* Lock screen css */
#lock-screen
{
	background: var(--sidebar-bg-color);
	z-index: 1000;
	height: 100%;
  max-height: 100%;
}

#lock-screen .container
{
	max-width: 500px;
	padding: 20px;
	padding-top:2=40px;
}
#lock-screen .container h3
{
	text-align: center;
	color: white;
	font-weight: bold;
}

#lock-screen .lock-tab
{
	color:white;
	margin:20px 0px;
}

#lock-screen .lock-tab span
{
	padding: 5px 10px;
	cursor: pointer;


}

#lock-screen .lock-tab span.active
{
	background-color: var(--dark-blue-2);
}
#lock-screen #lock-help
{
	color: white;
	overflow-y: scroll;
	height: 400px;
}

/* Main css */

#main
{
	display: flex;
	flex-direction: column;
}

#view
{
	height: 100%;
	flex-grow: 1;
	display: block;
	padding: 0px 20px;
	overflow: auto;
}

#view>div:first-child
{
	margin-top: 20px;
}

#view>div:last-child
{
	margin-bottom: 20px;
}

#top-bar
{
	flex-grow: 0 0 1;
	box-shadow: 0px 0px 1px;
	background: var(--snow);
	height: 40px;
	z-index: 1000;
}

.top-bar-block
{
	border-right: 1px solid var(--gray-6);
	display: flex;
}
.top-bar-block>div, .top-bar-block>svg, .top-bar-block>i
{
	margin: auto auto;
}

.top-bar-block.option
{
	color: var(--gray-3);
	opacity: 0.6;
	height: 40px;
	width: 40px;
}

.top-bar-block.option:hover
{
	opacity: 1;
	cursor: pointer;
	background-color: var(--gray-6);
}

.top-bar-block.add-button
{
	padding:auto auto;
}

#search
{
	width:300px;
}
#top-bar input
{
	border: none;
	outline: none;
	background-color: inherit;
	padding: 0.1em 0.5em;
	margin: 0.2em;
	width: 100%;
}


#sort-dropdown
{
	left: -40px;
}

.dropdown-item
{
	cursor: pointer;
}


#bottom-bar
{

	background: var(--snow);
	box-shadow: 0px 0px 1px;
	overflow: hidden;
	padding: 0.2em 0.5em;
	flex-grow:0 0 1;
	z-index: 1000;
}

body
{
	background: white;
	font-size: 16px;
}

#side-nav-bar
{
	background: var(--sidebar-bg-color);
	color:#fdfdfd;
	-ms-flex: 0 0 var(--sidebar-width);
    flex: 0 0 var(--sidebar-width);
}


@media screen and (max-width: 767px)
{
	:root
	{
		--sidebar-width:100%;
	}
}

#lock
{
	font-size: 0.5em;
	z-index: 5;
	margin-right: auto;
	margin-left: auto;
}

.header
{	margin:1em auto;
	/*margin-bottom: 1em;*/
	padding: 0.2em;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.5em;
}

#side-nav-bar .nav-item
{
	padding: 0.5em 1em;
	cursor: pointer;
	font-weight: lighter;
}


#side-nav-bar .nav-item.active, #side-nav-bar .nav-item:hover
{	
	background-color: var(--sidebar-item-hover-color);
	border-left: 4px solid var(--green-1);
	padding-left: calc( 1em - 4px );

}
#side-nav-bar .nav-item.active
{
	background-color: var(--sidebar-item-active-color);
}


/* For password manager */
.form
{
	margin-bottom: 20px;
}



.password-block, .notes-block, .journal-block
{
	margin-top: 10px;
	padding: 10px 15px;
	background-color: var(--gray-7);
	border: 1px solid;
	border-color: var(--gray-6);
	border-radius: 3px;
}

.label
{
	color: var(--gray-2);
	margin-right: 5px;
	text-decoration: bold;
	user-select: none;
}
.label::after
{
	content: ":"
}

.password-block .options, .notes-block .options, .journal-block .options
{
	margin-top:10px;
}


.password-block .option, .notes-block .option, .journal-block .option
{	color: var(--gray-2);
	margin-right: 15px;
	opacity: 0.7;
}

.password-block .option:hover, .notes-block .option:hover, .journal-block .option:hover
{
	cursor: pointer;
	opacity: 0.9;
}

.password-block .edit.option:hover, .notes-block .edit.option:hover, .journal-block .edit.option:hover
{
	color: var(--green);
	cursor: pointer;
}
.password-block .delete.option:hover, .notes-block .delete.option:hover, .journal-block .delete.option:hover
{
	color: var(--red);
	cursor: pointer;
}

#messages
{
	margin-top: 20px;
}


/* Notes manager  and journal manager*/
#note-editor, #journal-editor
{
	margin-bottom: 20px;
	/*min-height: 200px;*/
}


.note-viewer.ql-editor, #journal-viewer.ql-editor
{
	padding-top: 0px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.note-viewer.ql-toolbar, #journal-viewer.toolbar
{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}


.ql-container
{
	font-family: inherit;
	font-size: inherit;
	
}

.notes-block .title, .journal-block .title
{
	font-size: 1.2em;
}

.notes-block .title:hover, .journal-block .title:hover
{
	cursor: pointer;
	text-decoration: underline;
}

.notes-block .note-details, .journal-block .journal-details
{
	font-size: 0.8em;
}

#note .note-title, #journal .journal-title
{
	font-size: 2em;
	margin-bottom: 10px;
	border-bottom: 1px solid #555;
}



/* Settings */

#settings form
{
	margin-top: 20px;
}

/*Modifications for mobile*/
@media screen and (max-width: 767px)
{
	html, body, #root, #main {
	  min-height: 100%;
	}

	#side-nav-bar
	{
		display: none;
	}

	#top-bar
	{
		height: unset;
	}

	.top-bar-block
	{
		border-top: 1px solid var(--gray-6);
	}
	#search
	{
		order: 100;
		width: 100%;
	}
}

/* Tags */
#note_tags
{
	margin:15px;
	margin-left: 10px;
	margin-right: 10px;
}

span.tag
{
	color: var(--gray-2);
	border: 1px solid var(--gray-3);
	padding: 0.2em 0.5em;
	font-size: 0.9em;
	margin: 0.3em;
	border-radius: 0.2em;
	line-height: 1;
	cursor: pointer;
}
span.tag.active {
	background-color: var(--gray-5);
}

#tags, .tags
{
	margin-left: -0.3em;
	margin-right: -0.3em;
}

.notes-block .tags
{
	margin-top: 0.5em;
}

/* Link suggestions */

.linkDropdown
{
	margin-top: 15px;
}

a.linkSuggestion{
    display: block;
    padding: 5px;
    cursor: pointer;
}
a.linkSuggestion:hover
{
	background-color: var(--gray-6);
	text-decoration: none;
}

.ql-container a.ql-action, .ql-snow .ql-tooltip::before
{display: none;}

.color-selector
{
	width: 2.375rem;
	height: 2.375rem;
	margin-left: 1rem;
	border: 1px solid #ced4da;
}
.color-box
{
	width: 2.375rem;
	height: 2.375rem;
	border: 1px solid #ced4da;
	margin: 0.2rem;
	display: inline-flex;
}

.color-picker
{
	width: 9rem;
	top: 3rem;
	right: -0.2rem;
	position: absolute;
	z-index: 100;
	background: white;
	border: 1px solid #ced4da;
	padding: 0.2rem;
}
.color-selector:hover, .color-box:hover
{
	cursor: pointer;
}

/* Formatting for note text */
.ql-editor p
{
	margin-bottom: 10px;
}
.ql-editor p:last-child, .ql-editor ol:last-child, .ql-editor ul:last-child
{
	margin-bottom: 0px;
}

.ql-editor ol, .ql-editor ul
{
	padding-left: 35px;
	margin-bottom: 10px;
}

.ql-editor ol > li, .ql-editor ul > li
{
	list-style: unset;
}
.ql-editor ol > li::before, .ql-editor ul > li::before
{
	display: none;
}
.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl)
{
	padding-left: unset;
}